<section class="y_banner">
  <picture class="y_banner_back">
    <source media="(min-width: 1280px)" srcset="/assets/images/banner/banner_max.png">
    <source media="(min-width: 500px)" srcset="/assets/images/banner/banner_middle.png">
    <img class="y_banner_pic" src="/assets/images/banner/banner_mobile.png" alt="Welcome to Sail Rentals banner" sizes=" " srcset=" ">
  </picture>
  <div class="y_banner_text">
    <div class="y_sidenote">Аренда и продажа яхт в Одессе</div>
    <h1 class="y_welcome">
      Добро пожаловать на сайт Sail Rentals !
    </h1>
    <div class="y_options">
      ПОДОБРАТЬ ВАРИАНТЫ
    </div>
  </div>
</section>
<app-contacts></app-contacts>
