.y_banner {
  display: grid;
}

.y_banner_back, .y_banner_text {
  grid-column: 1;
  grid-row: 1;
}


.y_banner_pic {
  width: 95%;
  margin: 0 auto;
  display: block;
}

.y_banner_text {
  color: #FFF;

  .y_sidenote,
  .y_welcome {
    font-family: 'Montserrat', Arial, sans-serif !important;
  }

  &.mobile {
    .y_sidenote {
      transform: rotate(-90deg);
      font-size: 10px;
    }

    .y_welcome {
      padding: 0;
      margin: 0;
      text-align: right;
      font-size: 20px;
    }

    .y_options {
      text-align: center;
    }

  }

  .y_options::before,
  .y_options::after {
    width: 28px;
    content: "";
    height: 1px;
    border-bottom: 1px solid white;
    display: block;
    position: absolute;
  }

  .y_options::before {
    //margin: 15px 0 0 -55px;
  }

  .y_options::after {
    //margin: -15px 0 20px 245px;
  }

  &.desktop {
    display: none;
  }
}


@media screen and (min-width: 768px) {
  .y_banner {
    z-index: 0;
    position: relative;
  }
  .y_banner_text {

    &.mobile {
      display: none;
    }

    &.desktop {
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      width: 95%;
      padding: 60px 30px;
    }

    .y_sidenote {
      font-size: 16px;
    }

    .y_welcome {
      font-size: 21px;
      margin: 18px 0 32px;
      letter-spacing: 1px;
    }

    .y_options {
      font-size: 12px;
      margin-left: 55px;
    }

    .y_options::before,
    .y_options::after {
      width: 40px;
    }

    .y_options::before {
      margin: 8px 0 0 -55px;
    }

    .y_options::after {
      margin: -10px 0 20px 155px;
    }

  }

  .y_banner_pic {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {

  div.y_banner_text {

    &.desktop {
      padding: 135px 65px;
    }

    .y_sidenote {
      font-size: 22px;
    }

    .y_welcome {
      font-size: 26px;
      margin: 23px 0 39px;
    }

    .y_options {
      font-size: 20px;
    }

    .y_options::before {
      margin: 15px 0 0 -55px;
    }

    .y_options::after {
      margin: -15px 0 20px 245px;
    }


  }
}
