<h2>Информация</h2>

<div class="icons_wrapper">
  <div class="icon person">10 гостей</div>
  <div class="icon fridge">6 кают</div>
  <div class="icon toilet">2 гальюна</div>
  <div class="icon calendar">2017</div>
  <div class="icon gear">2 * 53 hp</div>
  <div class="icon arrow">42 ft</div>
  <div class="icon blop">600 L</div>
  <div class="icon canister">600 L</div>
  <div class="icon wheel">с подрулем</div>
</div>
<div class="blueprint_wrapper" *ngIf="true">
  <img src="assets/images/yacht_blueprint.png" alt="Yacht blueprint">
</div>
