<footer class="bg-info text-white">
  <div class="footer_left">
    <h5 class="text-uppercase">Свяжитесь с нами</h5>
    <a href="tel:+3806699988">"+38 066 999 88</a>
  </div>
  <div class="footer_center">
    <h5 class="text-uppercase">Свяжитесь с нами</h5>
    <div class="links_wrapper">
      <a href=""><img src="../../../../../assets/images/viber.svg" alt=""></a>
      <a href=""><img src="../../../../../assets/images/ig.svg" alt=""></a>
      <a href=""><img src="../../../../../assets/images/tg.svg" alt=""></a>
    </div>
    <span>Все права защищены</span>
  </div>
  <div class="footer_right">
    <h5 class="text-uppercase">Наше местоположение</h5>
    <span>Украина, Одесса</span>
  </div>
</footer>
