<footer class="bg-primary text-white">
  <div class="footer_left">
    <h6 class="text-uppercase">Свяжитесь с нами</h6>
    <a href="tel:+3806699988" class="text-white">+38 066 999 88</a>
  </div>
  <div class="footer_center">
    <h6>Наши мессенджеры</h6>
    <div class="links_wrapper">
      <a class="social_link"><img src="../../../../../assets/images/viber.svg" alt=""></a>
      <a class="social_link"><img src="../../../../../assets/images/ig.svg" alt=""></a>
      <a class="social_link"><img src="../../../../../assets/images/tg.svg" alt=""></a>
    </div>
  </div>
  <div class="footer_right">
    <h6>Наше местоположение</h6>
    <span>Украина, Одесса</span>
  </div>
  <div class="all_right_reserved">Все права защищены</div>
</footer>
