<div class="y_see_more_yacht_card_wrapper">
  <div class="y_see_more_photo">
    <img src="/assets/images/see_more_1.png" alt="yacht">
  </div>
  <div class="y_see_more_info">
      <span class="yacht_type">Алимос Марина</span>
    <span class="yacht_price_per_day">€2400</span>
    <span class="yacht_name">Lagoon 400 S2</span>
    <span class="yacht_price_per_hour">€1560</span>
    <div class="yacht_details">
      <ul class="yacht_details_list">
        <li>10 МЕСТ</li>
        <li>6 КАЮТЫ</li>
        <li>39ft ДЛИНА</li>
        <li>2016 ГОДА</li>
      </ul>
    </div>
  </div>
</div>
