.yacht_details {
  padding: 16px 12px 60px;
}

@media screen and (min-width: 768px) {
  .yacht_details {
    padding: 23px 28px 53px;
  }
}

@media screen and (min-width: 1040px) {
  .yacht_details {
    max-width: 1266px;
    margin: 0 auto;
  }
  .y_desktop_wrapper {
    display: flex;
    app-book-date-picker {
      margin-left: 32px;
    }
  }
}
