<section class="y_card_wrapper">
  <h2 class="y_card_headline">{{yacht.name}}</h2>
  <div>
    <img class="y_card_picture" [src]="yacht.img" alt=""/>
  </div>
  <div class="y_card_full_info">
    <div class="type_wrapper info">
      <p>Тип:</p>
      <p>{{yacht.type}}</p>
    </div>
    <div class="hour_rate_wrapper info">
      <p>За час:</p>
      <p>{{yacht.price_per_hour}}</p>
    </div>
    <div class="day_rate_wrapper">
      <p>За день:</p>
      <p>{{yacht.price_per_day}}</p>
    </div>
  </div>
  <div class="y_card_short_info">
    <div class="people short_info">{{yacht.capacity}}</div>
    <div class="beds short_info">{{yacht.beds}}</div>
    <div class="showers short_info">{{yacht.showers}}</div>
  </div>
</section>
