<div class="y_contacts_wrapper y_container">
  <section class="y_contacts">
    <div class="y_contacts_upper">
      <h6 class="text-uppercase">Наши мессенджеры</h6>
      <div class="links_wrapper">
        <a class="social_link"><img src="/assets/images/viber.svg" alt=""></a>
        <a class="social_link"><img src="/assets/images/ig.svg" alt=""></a>
        <a class="social_link"><img src="/assets/images/tg.svg" alt=""></a>
      </div>
    </div>
    <div class="y_contacts_down">
      <h6 class="text-uppercase y_book">забронировать</h6>
      <a href="tel:+380678337996" class="text-white">+38 067 833 79 96</a>
    </div>
  </section>


</div>

