@import "_colors";

.headline {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.crumbs {
  font-size: 10px;
  margin: 6px 0;
}

.current_page {
  color: $grey-light;
}

@media screen and (min-width: 768px) {
  .headline {
    margin-bottom: 14px;
    font-size: 20px;
  }
  .crumbs {
    font-size: 14px;
  }
}

@media screen and (min-width: 1400px) {
  .headline {
    font-size: 22px;
  }
  .crumbs {
    font-size: 14px;
  }
}
