<nav class="navbar navbar-light bg-white">
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a>
    <img src="../../../../../assets/images/logo.svg" alt="logo" class="logo" >
  </a>

  <a href="tel:+3806699988" class="phone_wrapper">
    <img src="../../../../../assets/images/phone.svg" alt="phone">
    <span class="number text-dark">
        +38 066 999 88
     </span>
  </a>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Аренда</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Продажа</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Туры</a>
      </li>
    </ul>
  </div>
  <button class="btn btn-sm bg-primary text-white add_yacht">Добавить яхту</button>
</nav>
