<div class="book_window_wrapper">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="headline">Добавить яхту</p>
  <form [formGroup]="form" class="modal_window_form">
    <div class="form-group">
      <label for="type">тип яхты</label>
      <input type="text" class="form-control" id="type" formControlName="type">
    </div>
    <div class="form-group">
      <label for="room">количество кают</label>
      <input type="text" class="form-control" id="room" formControlName="room">
    </div>
    <div class="form-group">
      <label for="places">количество мест</label>
      <input type="text" class="form-control" id="places" formControlName="places">
    </div>
    <div class="form-group">
      <label for="year_of_release">год выпуска</label>
      <input type="text" class="form-control" id="year_of_release" formControlName="year_of_release">
    </div>
    <div class="form-group">
      <label for="yacht_length">длина яхты</label>
      <input type="text" class="form-control" id="yacht_length" formControlName="yacht_length">
    </div>
    <div class="form-group">
      <label for="price_per_day">цена за сутки</label>
      <input type="text" class="form-control" id="price_per_day" formControlName="price_per_day">
    </div>
    <div class="form-group">
      <label for="price_per_hour">цена за час</label>
      <input type="text" class="form-control" id="price_per_hour" formControlName="price_per_hour">
    </div>
    <div class="form-group">
      <label for="gear">оборудование</label>
      <textarea id="gear" formControlName="gear" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="info">информация</label>
      <textarea id="info" formControlName="gear" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-lg w-100 btn-primary text-white text-uppercase">отправить</button>
  </form>
</div>

