@import '_colors';

.prices_container {
  width: 95%;
  margin: 20px auto 0;
  padding: 20px;
  font-size: 13px;
  color: $black;
  border: 1px solid $grey-dark;
  border-radius: 3px;
}

.p_row {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px;
  border-bottom: 1px solid $grey-dark;

  &:first-of-type {
    padding-top: 0;
  }
}

.per_week {
  color: $grey-light;
  min-width: 65px;
  margin: 0 10px 0 6px;
}

.p_price {
  flex-basis: 45px;
  text-align: right;
}

.p_title {
  flex: 2 0 0;
  max-width: 80%;
}

@media screen and (min-width: 768px) {
  .prices_container {
    max-width: 616px;
    padding: 22px 40px;
    font-size: 16px;
  }
  .p_row {
    padding-top: 24px;
  }
  .per_week {
    margin: 0 40px 0 6px;
  }
  .add_expenses {
    margin-top: 65px;
  }
}

@media screen and (min-width: 1208px) {
  .prices_container {
    max-width: 768px;
    padding: 32px 52px;
    font-size: 20px;
  }
}
