/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

$primary: #77C9F9;
$navbar-light-color: $primary;
$navbar-dark-color: $primary;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~bootstrap/scss/bootstrap';

* {
  font-family: Roboto, Arial, sans-serif;
}

h2 {
  font-size: 14px;
  margin: 20px 0;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 20px;
    margin: 50px 0 20px;
  }
  .y_container {
    margin: 0 auto;
    max-width: 768px;
    width: 95%;
  }
}

@media screen and (min-width: 1400px) {

  .y_container {
    max-width: 1262px;

  }
}
